.Footer {
    /*height: 100%;*/
    background-color: #5566c3 !important; 
    /*background-image:  radial-gradient( #008080, #001a4d); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*font-weight: 300;*/
    /*font-size: 1.2rem;*/
    /*line-height: 1.5;*/

}

.FooterMsg {
    margin: auto;
	/*font-size: 0.8em;*/
	color: yellow;
}