.Projects {
    height: 100%;
    background: url("/assets/bk-img-dark-blue-sky.jpg") no-repeat center center ; 
    /*background-color: blue; */
    /*background-image:  radial-gradient( #008080, #001a4d); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.WelcomeText {
	white-space: pre-line;
}